* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Helvetica, Arial, "hiragino kaku gothic pro",
    meiryo, "Microsoft YaHei", "ms pgothic", "Apple SD Gothic Neo",
    "Nanum Gothic", "Malgun Gothic", sans-serif;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 150;
  /* top: 0; */
  background-color: #fff;
}
section {
  padding-top: 50px;
  text-align: center;
  font-size: xx-large;
  height: 300px;
}

.container {
  width: 100%;
  max-width: 1060px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
